<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name=”viewport” content=”device-width” initial-scale=1.0>
        <title>TMDB</title>
        <link rel="stylesheet" href="../Scss/index.css">
    </head>
    <body>
        <h1><%=data.name%></h1>
        <h3><%=data.description%></h3>
        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%=data.poster_path%>"/>
        <div class="contentBox">
            <table border="1" cellspacing="0">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>lmage of the movie</td>
                        <td>Title of the movie</td>
                        <td>Released Year</td>
                        <td>Description</td>
                        <td>Genre</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (var key in data.items) { %>
                        <tr>
                            <td><%=key-1+2 %></td>
                            <td>
                                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%=data.items[key].backdrop_path%>"/>
                            </td>
                            <td>
                                <% if(data.items[key].title==null){ %>
                                    Null
                                <% }else{ %>
                                    <%= data.items[key].title %>
                                <% } %>
                            </td>
                           <td>
                                <% if(data.items[key].release_date==null){ %>
                                    Null
                                <% }else{ %>
                                    <%= data.items[key].release_date %>
                                <% } %>
                           </td>
                           <td style="width: 20%;">
                                <% if(data.items[key].overview==null){ %>
                                    Null
                                <% }else{ %>
                                    <%= data.items[key].overview %>
                                <% } %>
                           </td>
                           <td>
                                <% if(data.items[key].media_type==null){ %>
                                    Null
                                <% }else{ %>
                                    <%= data.items[key].media_type %>
                                <% } %>
                            </td>
                           
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>